target/
.idea
.svn
*.iml
*.log
*.log.*
*.json
zigbee-api/bin
zigbee-api/build
.gradle
.metadata
zigbee-console/bin
zigbee-console/build
zigbee-console-javase/bin
zigbee-console-javase/build
zigbee-serial-javase/bin
zigbee-serial-javase/build
local.properties
zigbee-serial-android/bin
zigbee-serial-android/build
zigbee-console-common/bin
zigbee-console-common/build
build
zigbee-console-android/bin
zigbee-console-android/build
zigbee-console-android/gen-external-apklibs
.recommenders
reports

# Editor specific
*~

# Eclipse project specific
.classpath
.project
.settings

